ConfigWrapperIncrementalID.mat
.ID_MANAGER

# Python Classes
PythonScripts/*.pyc
*.pyc

# Test Coverage
PythonScripts/.coverage
PythonScripts/htmlcov

# Stabilizer
AcceleratedVideoStabilizer/build/
AcceleratedVideoStabilizer/experiment_hyperlapse.xml

.vscode/

# Optical Flow Objects
Vid2OpticalFlowCSV/obj/

# _Dartknet files
_Darknet/obj/
_Darknet/backup/
_Darknet/results/
_Darknet/darknet
_Darknet/yolo.weights